extends layout

block content
  h1= title
  p Welcome to #{title}
  button(class='js-push-button' disabled) Enable Push Messages
  div
    button(class="js-send-notification") Send the notification  
  div
    button(class="js-send-notification-delegate-server") Send the notification from server
  div
    table(id="user-list")

